@use '../variables/variables'as*;
@import '../mixins/mixins';
.video-section {
    max-width: 970px;
    margin: 0 auto;

    &__tablet {
        max-height: 601px;
        width: 100%;
        height: 100%;
        border: 1px solid $border-color;
        border-radius: 32px;
        padding: 31px 70px 31px 30px;
        position: relative;
        margin-bottom: 50px;

        @include media-max($sm-plus) {
            padding: 15px;
        }

        &::before {
            content: ' ';
            position: absolute;
            border: 1px solid $border-color;
            border-radius: 50%;
            max-width: 13px;
            max-height: 13px;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 0.5%;
            transform: translate(0, -50%);

            @include media-max($sm-plus) {
                display: none;
            }
        }

        &::after {
            content: ' ';
            position: absolute;
            border: 1px solid $border-color;
            border-radius: 50%;
            max-width: 35px;
            max-height: 35px;
            width: 100%;
            height: 100%;
            top: 50%;
            right: 1.4%;
            transform: translate(0, -50%);

            @include media-max($sm-plus) {
                display: none;
            }

        }
    }

    &__screensaver {
        max-width: 870px;
        max-height: 539px;
        width: 100%;
        height: auto;
    }
        
}