@use '../variables/variables' as*;

.block__title {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 26px;

    &--width {
        max-width: 400px;
    }
}