.link {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    line-height: 171%;
    letter-spacing: 0.08em;

    &--margin {
        margin-left: 32px;
    }
}